<div class="gov-header">
    <div class="gov-top">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Coat_of_arms_of_Tunisia.svg/120px-Coat_of_arms_of_Tunisia.svg.png"
            alt="Armoiries de la Tunisie" width="72" height="80" class="gov-arms" />
        <p class="gov-title">République Tunisienne</p>
    </div>
    <div class="gov-bar">
        <div class="ministry-item">
            <img src="assets/images/logo-mesrs.png" alt="Logo MESRS" class="ministry-logo" />
            <span>Ministère de l'Enseignement Supérieur</span>
        </div>
        <span class="gov-sep"></span>
        <div class="ministry-item">
            <img src="assets/images/logo-sante.png" alt="Logo Santé" class="ministry-logo" />
            <span>Ministère de la Santé </span>
        </div>
    </div>
</div>